@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Bank Payment</title>
    <link rel="stylesheet" href="@Url.Content("~/css/BankPayment.css")" />
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="~/js/BankPayment.js"></script>
</head>
<body>
    <h2>Bank Payment</h2>
    <div class="payment-container">
        <form id="paymentForm" action="" method="post">
            <label for="cardNumber">Card Number:</label>
            <input type="text" id="cardNumber" name="cardNumber" required>

            <label for="expirationDate">Expiration Date:</label>
            <input type="text" id="expirationDate" name="expirationDate" placeholder="MM/YYYY" required>

            <label for="cvc">CVC:</label>
            <input type="text" id="cvc" name="cvc" required>

            <label for="preFilledAmount">Amount to Deposit:</label>
            <input type="text" id="preFilledAmount" name="preFilledAmount" value="@ViewData["Amount"]" readonly>

            <input type="hidden" id="transactionId" name="transactionId" value="@ViewData["TransactionId"]">
            <input type="hidden" id="userId" name="userId" value="@ViewData["UserId"]">

            <button type="button" id="makePaymentButton">Make Payment</button>
        </form>
    </div>
</body>
</html>

